@import "~bootstrap";

.form_heading {
  margin-top:20px;
  padding-left: 20px;
}

.main_div {
  margin: 100px;
}

.bordered-table th, td {
  border: 1px solid silver;
  padding: 4px;
}

.bordered-table {
  border-collapse: collapse;
  margin-left: 20px;
}

.column-width {
  table-layout: fixed;
  width: 100%;
}

.hidden {
  visibility:hidden;
}

h1 {
  padding-left: 20px;
}

.table_heading{
  padding-left: 20px;
  font-size: 15px;
}

hr {
  padding-left: 20px;
  border: 0.5px solid black;
}

.form_heading{
  padding-left: 20px;
  font-size: 15px;
}

label{
  margin-top:5px;
}


.form-row {
  display: flex;
}

.form-group {
  padding: 10px;
}

.add-product {
  margin: 10px;
}

.view-image {
  cursor: pointer;
}
